<footer class="bg-dark border-bottom border-body text-center text-light d-flex justify-content-center">
    <div class="p-4 content w-75">
        <div class="d-flex ">
            <div class="d-flex flex-row footer-item">
                <a class="d-block font-xs m-2" routerLink="">pagina 1</a>
                <a class="d-block font-xs m-2" routerLink="">pagina 2</a>
            </div>
        </div>
        <hr>
        <div class="p-3 bg-dark-grey fs-6">
            Copyright © 2023 Assassino Polverina - All rights reserved.
        </div>
    </div>
</footer>
