<!-- Footer -->
<footer class="bg-dark-grey text-center text-light d-flex justify-content-center">
    <!-- Grid container -->
    <div class="p-4 content w-75">
        <div class="d-flex ">
            <div class="footer-item">
                <div class="fs-3">
                  <img  src="assets/img/LogoFinitoAcadeSteam.png" alt="..." class="cursor-cat" style="height:80px; padding-left: 10px">
                </div>
            </div>
            <div class="footer-item" style="margin-top: 20px">
                <a class="d-block font-xs" routerLink="store">Store</a>
                <a class="d-block font-xs" routerLink="mygames">My Games</a>
            </div>
            <div class="footer-item" style="margin-top: 30px">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-twitter"></i>
                <i class="bi bi-instagram"></i>
            </div>
        </div>
        <hr>
        <div class="p-3 bg-dark-grey fs-6">
            Copyright © 2023 Acade Steam - All rights reserved.
        </div>
    </div>
</footer>
  <!-- Footer -->
