<nav class="navbar navbar-expand-lg navbar-dark bg-dark-grey ">
  <div class="container-fluid d-flex justify-content-space-between">
    <img src="assets/img/LogoFinitoAcadeSteam.png" alt="..." class="cat cursor-cat"  routerLink="store" >
    <a class="navbar-brand font-s" routerLink="store" >AcadeSteam</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav m-auto">


      </div>
      <div class="text-light ">
        <a class="nav-link text-light d-inline font-xs Hover-style" routerLink="store">Store</a>
        |
        <a class="nav-link text-light font-xs d-inline Hover-style" routerLink="mygames">My Games</a>
        <i class="bi bi-person color-blue Hover-style fs-5" id="icon-user" routerLink="login"></i>
      </div>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle dark-theme" type="button" id="dropdownMenuButton2"
                data-bs-toggle="dropdown" aria-expanded="false">
        </button>
        <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="dropdownMenuButton2">
        </ul>
      </div>
    </div>
  </div>
</nav>
